@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.cdnfonts.com/css/bruno-ace-sc');

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 12px
} 

body::-webkit-scrollbar-thumb {   
    background-color: #472dbd;   
    border-radius: 10px;
}

div.align-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    z-index: 2;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.content{
    width: 500px;
    height: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;;
}

div.personal-information img{
    width: 180px;
    height: 180px;
    border-radius: 70%;
    margin-left: 25%;
    margin-bottom: 5%;
    
}

div.personal-information h1{
    font-family: 'Poppins', sans-serif;
    color: #f2f8f1;
    font-size: 50px;
    text-align: center;
    margin-bottom: 3%;
}

div.personal-information h3{
    font-size: 30px;
}

div.personal-information h3,
div.personal-information p{
    font-family: 'Poppins', sans-serif;
    color: #f2f8f1;
    text-align: center;
    margin-bottom: 6%;
}

div.icon-horizontal {
    height: 30px;
    width: 35px;
    padding: 6px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

div.click-here{
    width: 350px;
    height: 90px;
    background-color: #49c4c6;
    border-radius: 50px;
    margin-top: 8%;
}

div.click-here p{
    font-family: 'Bruno Ace SC', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 30px;
}

.redirect-media{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

img.icon{
    width: 60px;
    height: 60px;
    margin-left: 50px;
}

p.subtitles{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #353839;
    text-align: center;
    margin-top: 40px;
}

div.no-icon p{
    margin-left: 0px;
}

div.no-icon p.align-text{
    width: 300px;
    text-align: center;
}