@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html{
    scroll-behavior: smooth;
}
/*
:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --delay: .3s;
*/
body {
    min-height: 100dvh;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

main.content{
    width: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.personal-information img{
    height: auto;
    border-radius: 50%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

div.personal-information h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #e7efe8;
    font-size: 40px;
    text-align: center;
    margin-bottom: 3px;
}

div.personal-information h3{
    font-size: 22px;
    margin-bottom: 3px;
    margin-top: 10px;
}

div.personal-information h3,
div.personal-information p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f2f8f1;
    text-align: center;
}

.links button {
  display: block;
  margin-bottom: 15px;
}


button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  width: 100%;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr); 
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

button span {
  position: relative;
  z-index: 1;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}




/*
.redirect-media {
	position: relative;
    background-color: transparent;
    border-radius: 10px;
    padding: 1px;
    display: flex;
    text-align: center;
    align-items: center;
}

.click-here {
    display: flex;
    justify-content: center;
    text-align: center;
}
.click-here::before {
	content: '';
	position: absolute;
	width: 160%;
	height: 75%;
	z-index: 1;
	background-color: rgba(67, 43, 172, 0.297);
	transition: all 0.3s;
}
.click-here:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.click-here::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgb(237, 10, 10);
	transform: scale(1.2,1.2);
}
.click-here:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

div.click-here p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 15;
    font-size: 15px;
    color: #2bdb21;
    text-align: center;
    margin-left: 5px;
}
*/